@import '../../../shared/mixin';
@import '../../../shared/variables';

.slider{
  background-color: #f5f5f5;
  margin: {
    top:20px;

  };
  .hidden{
    display: none!important;
  }
  .slider__tab{
    border-bottom: 3px solid $color-Main;
    padding-left: 54px;

    display: flex;
    .slider__tab--btn{
      height: 44px;
      display: flex;
      align-items: center;
      font-family: Oswald;
      cursor: pointer;
      background-color: #fff;
      color: #000;
      margin-right: 6px;
      padding: {
        right: 20px;
        left: 20px;
      };
      border: none;
      font: {
        size: 17px;
        weight: $font-weight700;
      };
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      line-height: 25px;

    }
    .activeBtn{
      background-color: $color-Main;
      color: #fff;
    }
  }
  .slider__text{

    margin: {
      left: 54px;
      right: 54px;
    };
    position: relative;
    overflow: hidden;
    height: 96px;

    .slider__text--item{
      display: none;
      font-size: $font-SizeText;
      line-height: 24px;
    }
    .slider__text--item.activeText{
      display: block;
    }
    img{
      position: absolute;
      bottom: -23%;
      left: -20px;
      height: 56px;
    }
  }

  .slider__btn{
    display: flex;
    justify-content: center;
    .showMore{
      @include showSlider()
    }

    .showLess{
      @include  showSlider();
      display: none;
    }
  }
}


//phần responsive ---------------------------------------------------------------------
// tablet and mobile
@media (max-width:1023px){

}

/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px){
.slider{
        .slider__tab{

          padding-left: 28px;
          padding-right: 28px;
        }
        .slider__text{
          margin-left: 28px;
          margin-right: 28px;
        }
      }
}

/* mobile */
@media (max-width: 739px){
  .slider{
    .slider__tab--overflowX{
          overflow-x: auto;
          -ms-overflow-style: none;
          .slider__tab{
            width: 612px;
            padding: {
              left: 12px;
            };
            .slider__tab--btn{
            }
          }
        }
        .slider__tab--overflowX::-webkit-scrollbar{
          width: 0 !important;
          display: none;
        }

        .slider__text{
          margin-left: 12px;
          margin-right: 12px;
        }
}
}


