<div class="handleMoreLessDetail" >
    <div class="more__details">
        <section class="more__details--info ">
            <div class="more__details--info-heading">
                <img src="../../../../../../../assets/img/Vector%20(2).png" alt="info">
                <h3>Why play here?</h3>
            </div>
            <ul>
                <li class="more__details--info-text">Large selection of games from multiple suppliers</li>
                <li class="more__details--info-text">Mobile & live casino supported</li>
                <li class="more__details--info-text">supported 24/7 support via live chat and email</li>
                <li class="more__details--info-text">Licensed in UK</li>
                <li class="more__details--info-text">Large online progressive slots</li>
            </ul>
        </section>
        <section class="more__details--gift ">
            <div class="more__details--gift-heading">
                <img src="../../../../../../../assets/img/gift-2.png" alt="info">
                <h3>Bonus Details</h3>
            </div>
            <ul>
                <li class="more__details--gift-text">Maximum First Deposit Bonus: <span>up to $50</span></li>
                <li class="more__details--gift-text">Bonus Match: <span>200% match on first deposit</span></li>
                <li class="more__details--gift-text">Minimum Deposit Amount: <span>$20</span></li>
                <li class="more__details--gift-text">Wager Requirement: <span>25 Times</span></li>
                <li class="more__details--gift-text">Bonus Excluded in Wager Requirement: <span>No</span></li>
                <li class="more__details--gift-text">No Deposit Bonus: <span>+$20 Free Spins</span></li>

            </ul>
        </section>

    </div>
</div>
